<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>天気</title>
    <link href="/signage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signage/css/font-awesome.min.css" rel="stylesheet">
    <link href="/signage/css/style.css" rel="stylesheet">
</head>

<body id="black">
    <!-- header -->
    <div class="wrap">
     <header class="cf">
      <img src="../../signage/img_fixed/logo-b.png">
     </header>

     <h1>天気毎の注意</h1>
     <ul>
       <li> <a href="weather_sunny.html">晴れの日</a> </li> 
       <li> <a href="weather_rainy.html">雨の日</a> </li>
       <li> <a href="weather_snowy.html">雪の日</a> </li>
       <li> <a href="/signage/index.html">
        <img class="back" src="../../signage/img_fixed/back.jpeg" alt="戻る"></a> </li>
    </ul>

    <!-- footer -->
     <footer>
      <img src="../../signage/img_fixed/logo2-b.png" width="140px" height="60px">
     </footer>
    </div>
    
     <!-- scripts -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
      <script src="js/bootstrap.min.js"></script>
</body>


</html>    