<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>晴れの日</title>
    <link href="/signage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signage/css/font-awesome.min.css" rel="stylesheet">
    <link href="/signage/css/style.css" rel="stylesheet">
  </head>
  <body>
  <!-- header -->
  <div class="wrap">
    <header class="cf">
      <img src="../../signage/img_fixed/logo-b.png">
    </header>
    <a href="/signage/index.html">
      <img class="back" src="../../signage/img_fixed/back.jpeg" alt="戻る"></a>
  <div id="content">
    <div id="arrowbar">
      <a href="weather_snowy.html">
      <img src="../../signage/img_fixed/arrow1.png" class="arrow_pic">
      </a>
    </div>
    <div id="sidebar">
      <h1>雨が降っています！</h1>
      <img src="../../signage/img_fixed/tenki_ame_onnna.png" class="tenki_pic">
    </div>
    
    <div id="main">
      <table>
        <thead>
          <tr>
            <th>トピック</th>
            <th>やること</th>
          </tr>
        </thead>
        <tbody>
          <td>雨に濡れないように</td>
          <td>傘を持つ</td>
         </tbody>
         <tbody>
          <td>洗濯物に注意</td>
          <td>ベランダを確認</td>
         </tbody>
        </td>
      </table>
    </div>

    <div id="arrowbar">
      <a href="weather_sunny.html">
      <img src="../../signage/img_fixed/arrow2.png" class="arrow_pic">
      </a>
    </div>

  </div>


    <!-- footer -->
    <footer>
      <img src="../../signage/img_fixed/logo2-b.png" width="140px" height="60px">
    </footer>
    </div>
  </body>
</html>