<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>晴れの日</title>
    <link href="/signage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signage/css/font-awesome.min.css" rel="stylesheet">
    <link href="/signage/css/style.css" rel="stylesheet">
  </head>
  <body>
  <!-- header -->
  <div class="wrap">
    <header class="cf">
      <img src="/signage/img_fixed/logo-b.png">
    </header>
    
  <div id="content">
    <div id="sidebar">
      <h1>晴れ</h1>
      <p>aa</p>
    </div>
    <div id="main">
      <p>aa</p>
    </div>
  </div>

    <!-- footer -->
    <footer>
      <img src="/signage/img_fixed/logo2-b.png" width="140px" height="60px">
    </footer>
    </div>
  </body>
</html>