<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>晴れの日</title>
    <link href="/signage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signage/css/font-awesome.min.css" rel="stylesheet">
    <link href="/signage/css/style.css" rel="stylesheet">
  </head>
  <body>
  <!-- header -->
  <div class="wrap">
    <header class="cf">
      <img src="/signage/img_fixed/logo-b.png">
    </header>
    
  <div id="content">
    <div id="arrowbar">
      <img src="/signage/img_fixed/arrow1.png" class="arrow_pic">
    </div>
    <div id="sidebar">
      <h1>晴れ</h1>
      <img src="/signage/img_fixed/tenki_hare_otoko.png" class="tenki_pic">
    </div>

<div class="main">
    <h2>行／帰 チェックリスト</h2>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>　　チェック内容</th>
                <th>　　チェック</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>1</td>
                <td>　　　財布</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>

            </tr>
            <tr>
                <td>2</td>
                <td>　　　鍵</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>

            </tr>
            <tr>
                <td>3</td>
                <td>　　　携帯電話</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>
            </td>
            </tr>
            <tr>
                <td>4</td>
                <td>　　　カバン</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>

            </tr>   
            <tr>
                <td>5</td>
                <td>　　　手帳</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>

            </tr>         
            <tr>
                <td>6</td>
                <td>　　　筆記用具</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>

            </tr>
            <tr>
                <td>7</td>
                <td>　　　ハンカチ</td>
                <td>　　　 <input type="checkbox" id="item1" class="checklist-item"></td>

            </tr>      
        </tbody>
    </table>
</div>
    
  </div>

    <!-- footer -->
    <footer>
      <img src="/signage/img_fixed/logo2-b.png" width="140px" height="60px">
    </footer>
    </div>
  </body>
</html>