<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>天気</title>
    <link href="/signage/css/bootstrap.min.css" rel="stylesheet">
    <link href="/signage/css/font-awesome.min.css" rel="stylesheet">
    <link href="/signage/css/style.css" rel="stylesheet">
</head>

<body id="black">
    <!-- header -->
    <div class="wrap">
     <header class="cf">
      <img src="/signage/img_fixed/logo-b.png">
     </header>

     <h1>各地域の天気</h1>
     <ul>
       <li> <a href="weather_tokyo.html">東京都の天気</a> </li> 


       <li> <a href="***">埼玉県の天気</a> </li>
       <li> <a href="***">任意の天気</a> </li>
    </ul>

    <!-- footer -->
     <footer>
      <img src="/signage/img_fixed/logo2-b.png" width="140px" height="60px">
     </footer>
    </div>
    
     <!-- scripts -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
      <script src="js/bootstrap.min.js"></script>
</body>


</html>    